.generalLocations{
    padding: 20px;
    display: flex;
    flex-direction: column ;
}

.generalLocations h1{
    margin-bottom: 30px;
    text-align: center;
}

.locations{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
   border-radius: 10% 30% 50% 70%;  
}