
.principalNave{
    border: 2px solid black;
    border-radius: 10%;
    background-color: #fabada;
    transition: transform 0.5s;
}
.principalNave:hover{
    transform: scale(1.1);
}
.principalNave h1 {
    color: blue;
}

