#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.Visor{
color: greenyellow;


}


.numeros {
 display:flex;
 justify-content: flex-start;
}
.opera{
  display:flex;;
  flex-direction: column;

}
.igualycero{
  


}
.mainContainer{
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  
  color: rgba(101, 199, 167, 0.703);
  background-color: antiquewhite;
  width: 100%; 
  height: 100%;
}