#root {
  max-width: 1980px;
  margin:  auto;
  
}
.fila-principal {
  display: flex;
  justify-content: center;
  align-items: flex-start;
 
}

/* NUMEROS IZQUIERDA */
.numeros {
  display: flex;
  flex-direction: column;
  
}


/* OPERACIONES DERECHA */
.operaciones {
  display: flex;
  flex-direction: column;
 
}

/* ABAJO */
.igualycero {
  display: flex;
  justify-content: center;
 
}
